$galleryBackgroundColor: #C4D7B2;
$galleryTextColor: #3c6538; 
$gallerySecondaryBackground: #F7FFE5;


$horoscopeTextColor: white;
$horoscopeButtonBackgroundColor: #e4b4dd;


$formBorderRadius: 12px;
$inputBorderRadius: 8px;


$plannerBackground: #F9E0BB;
$plannerSecondaryColor: #884A39;
$plannerTextColor: white;
$plannerMonthBackground: #ffc26f;