@use '../styles/mixins';
@use '../styles/theme' as t;

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    @include mixins.flex();
    .wrapper {
        background-color: t.$galleryBackgroundColor;
        @include mixins.phoneBody();
        @include mixins.flex();
    }
    header {
        @include mixins.flex(flex-end, row);
        width:100%;
        margin: 20px;
        padding-right: 30px;
        button {
            @include mixins.button();
            color:t.$galleryTextColor; 
        }
    }
    img {
        width: 350px;
        height: 700px;
    }
    footer {
        color: t.$galleryTextColor;
        font-size: xx-large;
        padding-top: 10px;
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 0px 50px;
            }
        }
    }
}
    










